MONGODB_URI=mongodb+srv://thisura_DB:Asd123@cluster0.i3wzv1y.mongodb.net/Botcalm-HR-System


# Public URL
NEXT_PUBLIC_API_URL=http://localhost:3000

# //nodemailer 


EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=ravindu.l@botcalm.com
EMAIL_PASSWORD=ppqwgnghlhfqukec
EMAIL_FROM=ravindu.l@botcalm.com
EMAIL_FROM_NAME=SOLID-HR-System



JWT_ACCESS_SECRET=super_access_secret_change_me
JWT_REFRESH_SECRET=super_refresh_secret_change_me
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d


# Pusher Configurations
NEXT_PUBLIC_PUSHER_APP_KEY=your_app_key_here
NEXT_PUBLIC_PUSHER_CLUSTER=your_cluster_here
PUSHER_APP_ID=your_app_id_here
PUSHER_SECRET=your_secret_here